.city {
  margin-top: 30px;
}

.city-links {
  margin-top: 20px;
}

.city-links a {
  display: flex;
  align-items: center;
  color: hsl(240, 18%, 21%);
  width: fit-content;
  margin-bottom: 10px;
  font-size: 15px;
}

.city-links a:hover,
.city-links a:visited,
.city-links a:active {
  color: #238b77;
}
