@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider__wrapper {
  width: 100%;
  margin: 100px auto;
  height: 350px;
}

.slider__wrapper p {
  margin-bottom: 30px;
}

.slide img {
  width: 30rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  border-radius: 100%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

@media screen and (max-width: 680px) {
  .slider__wrapper {
    margin: 50px auto 90px auto;
  }

  .arrow {
    width: 30px;
    height: 30px;
  }
}
