/* form Styles */
.form__container {
  display: flex;
  justify-content: center;
}

.contact-us__form {
  width: 60%;
  padding: 10px;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.inputBox input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  margin: 10px 0;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 10px;
  font-size: 13px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 14px;
  transform: translateY(-20px);
}

.inputBox input[type="submit"] {
  width: 100px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.contact__result {
  background-color: #27f527;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

@media screen and (max-width: 680px) {
  /* form Styles */
  .form__container {
    display: block;
  }

  .contact-us__form {
    width: 100%;
    padding: 5px;
  }

  .inputBox {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }

  .inputBox input,
  textarea {
    width: 100%;
    font-size: 13px;
  }

  .inputBox span {
    font-size: 12px;
  }

  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span,
  .inputBox textarea:focus ~ span,
  .inputBox textarea:valid ~ span {
    font-size: 11px;
  }

  .inputBox input[type="submit"] {
    font-size: 15px;
    padding: 8px;
  }

  .contact__result {
    padding: 10px;
    font-size: 14px;
  }
}
