.cart-icon__container {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 10vh;
  right: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 100000;
}

.cart-icon__container a {
  padding: 1px;
}

.cart-icon {
  height: 35px;
  width: 35px;
  color: #333;
}

.bag-quantity {
  color: rgb(236, 48, 48);
  margin-left: 1px;
  font-weight: 600;
}

/* Cart page Styling */
.cart-container {
  padding: 120px 90px;
}

.cart-container h2 {
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 15px;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
  margin-right: 20px;
  padding-right: 20px;
}

.cart-flag {
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.cart-product p {
  font-size: 13px;
}

.cart-item .cart-product button {
  margin-top: 15px;
  background: none;
  color: gray;
  font-weight: 500;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80px;
  align-items: center;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  background: none;
  padding: 0.4rem 1.1rem;
}

.cart-item .cart-product-quantity .count {
  padding: 0.4rem 0;
}

.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 600;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .cart-subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.checkout-button {
  margin-top: 20px;
  border-radius: 5px;
  color: #f9f9f9;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .cart-icon__container {
    position: fixed;
    bottom: 8vh;
    right: 20px;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }

  .cart-icon__container a {
    padding: 4px;
  }

  .cart-icon {
    height: 25px;
    width: 25px;
  }

  /* Cart */
  .cart-container {
    padding: 150px 2rem;
  }

  .cart-container h2 {
    font-size: 25px;
  }

  .cart-item .cart-product {
    margin-right: 0px;
    padding-right: 0px;
  }

  .cart-container .titles {
    display: none;
  }

  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .cart-item .cart-product-total-price {
    justify-self: left;
  }

  .cart-summary {
    flex-direction: column;
  }

  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .cart-icon {
    height: 30px;
    width: 30px;
  }
}
