footer {
  background-color: #000;
  color: #fff;
  padding: 70px 50px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.input__email {
  padding: 10px;
  width: 30%;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

.footer__information {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.keep-talking,
.stay-connected,
.our-vision {
  width: 33.3%;
}

.stay-connected,
.copyright {
  display: flex;
  justify-content: center;
}

.copyright {
  margin-top: 20px;
}

footer h3 {
  color: #f9b428;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.stay-connected a {
  display: block;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

footer button {
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 15px;
  border-radius: 5px;
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(
    225deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    225deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    225deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ebf4f5", endColorstr="#b5c6e0", GradientType=1 );
}

.newsletter__icon,
.social__icons {
  height: 15px;
  width: 15px;
}

.keep-talking__icon {
  margin-right: 7px;
  height: 23px;
  width: 23px;
}

.social__icons {
  margin-left: 9px;
}

.keep-talking p,
address {
  margin-bottom: 15px;
}

.keep-talking p,
address,
.keep-talking-link {
  display: flex;
  align-items: center;
  color: #ccc;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.3px;
}

footer a:hover {
  color: #f9b428;
}

.our-vision p {
  color: #ccc;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.7;
}

@media screen and (max-width: 680px) {
  footer {
    padding: 40px 15px;
  }

  .newsletter {
    display: block;
    padding: 20px 0;
  }

  .input__email {
    padding: 10px;
    width: 80%;
    margin-left: 0;
  }

  .footer__information {
    display: block;
    width: 100%;
  }

  .keep-talking,
  .stay-connected,
  .our-vision {
    width: 100%;
    margin-bottom: 20px;
  }

  .stay-connected {
    display: flex;
    justify-content: flex-start;
  }

  .copyright {
    display: flex;
    justify-content: center;
  }

  .copyright {
    margin-top: 25px;
  }

  footer h3 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .stay-connected a {
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
  }

  footer button {
    padding: 5px;
    margin-left: 10px;
  }

  .newsletter__icon,
  .keep-talking__icon,
  .social__icons {
    height: 20px;
    width: 20px;
  }

  .keep-talking__icon {
    margin-right: 7px;
  }

  .social__icons {
    margin-left: 7px;
    height: 18px;
    width: 18px;
  }

  .stay-connected a,
  .keep-talking p {
    display: flex;
    align-items: center;
    font-size: 13px;
  }

  .keep-talking p,
  address {
    margin-bottom: 10px;
  }

  .keep-talking p,
  address,
  .keep-talking-link {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
  }

  .our-vision p {
    font-weight: 300;
    line-height: 21px;
  }

  .copyright p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
  footer {
    padding: 50px 30px;
  }

  .newsletter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
  }

  .input__email {
    width: 50%;
    margin-left: 20px;
  }

  .footer__information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .keep-talking,
  .stay-connected {
    width: 100%;
  }

  .our-vision {
    width: 100%;
  }

  footer h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .stay-connected a {
    font-size: 14px;
  }

  footer button {
    padding: 8px;
    margin-left: 13px;
  }

  .newsletter__icon,
  .keep-talking__icon,
  .social__icons {
    height: 15px;
    width: 15px;
  }

  .keep-talking__icon {
    margin-right: 5px;
  }

  .social__icons {
    margin-left: 7px;
  }

  .keep-talking p,
  address,
  .keep-talking-link {
    font-size: 12px;
  }
}
